@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@300;400;500;700&display=swap');

/* :root {
    --azul: #2F86A6;
    --verde-escuro: #34BE82;
    --verde-claro: #2FDD92;
    --amarelo: #F2F013;
} */

:root {
    /* --verde-claro: #34BE82;
    --verde-escuro: #007965;
    --laranja: #F58634;
    --amarelo: #FFCC29; */

    --azul: #05386b;
    --verde-escuro: #379683;
    --verde-claro: #5cdb95;
    --verde-mais-claro: #8ee4af;
    --bege: #edf5e1;
}

body {
    font-family: 'Ubuntu';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

figure img {
    height: 80px;
}

header {
    position: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    z-index: 100;
    width: 100%;
    background: var(--azul);
    box-shadow: 0 3px 4px rgb(0 0 0 / 10%);
    height: 8vh;
}

#header-content > nav > ul > li a {
    color: var(--bege);
}

nav ul li {
    position: relative;
}

nav > ul > li > a::before {
    content: '';
    border: 1px solid transparent;
    height: 5px;
    width: 100%;
    top: -4px;
    position: absolute;
}

nav > ul > li > a:hover::before {
    content: '';
    border: 1px solid var(--bege);
    background-color: var(--bege);
    height: 5px;
    width: 100%;
    top: -4px;
    position: absolute;
    transition: ease-in 0.1s;
}

#header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    width: 100%;
    align-items: center;
    height: 50px;
}

#header-content nav ul {
    display: flex;
    gap: 2.5rem;
}

.nav-bar-links a {
    color: #57585a;
    text-transform: uppercase;
}

.main-hero-container {
    /* background: url("/img/arvores-parceiros.webp") no-repeat;
    background-position: 50px 150px; */
    padding-top: 15vh;
    position: relative;
    background-image: url('/img/green-background.png');
    background-size: cover;
    /* background-color: var(--verde-claro); */
    color: var(--bege);
    display: flex;
    gap: 7rem;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    font-weight: bolder;
}

/* .main-hero-container::before {
    content: "";
    display: block;
    width: 230px;
    background: url("../img/sinal.svg");
    background-size: 20px;
    background-repeat: repeat;
    position: absolute;
    height: 260px;
    background-position: 50% center;
    background-repeat: repeat;
    left: auto;
    bottom: auto;
    top: 20%;
    left: 0;
}

.main-hero-container::after {
    content: "";
    display: block;
    width: 260px;
    background: url("../img/sinal.svg");
    background-size: 20px;
    background-repeat: repeat;
    position: absolute;
    height: 260px;
    background-position: 50% center;
    background-repeat: repeat;
    left: auto;
    bottom: auto;
    top: 20%;
    right: 0;
} */

.main-hero-left {
    max-width: 550px;
    padding: 1rem;
}

.main-hero-left-header h1 {
    font-size: 2.4rem;
    font-weight: bold;

}

.main-hero-left-header p {
    font-size: 1.3rem;
    font-weight: 200;
}

.main-hero-left-card h1 {
    font-weight: bold;
    font-size: 2rem;
}

.main-hero-left-card p {
    font-size: 1.2rem;
    font-weight: 300;
}

.main-hero-left-card {
    max-width: 550px;
    color: var(--azul);
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 16px 0 rgb(32 33 36 / 40%);
}

.main-hero-left-card input {
    outline: none;
    width: 100%;
    height: 60px;
    font-size: 22px;
    line-height: 24px;
    border-radius: 12px;
    border: 1px solid #c0c2c4;
    color: var(--azul);
    padding: 0.75em 1rem;
    transition: box-shadow .2s ease, border-color .2s ease;
}

.main-hero-left-card button {
    font-size: 20px;
    outline: none;
    cursor: pointer;
    width: 100%;
    color: var(--bege);
    font-weight: 500;
    background-color: var(--azul);
    padding: 0.5em 1em;
    border: none;
    border-radius: 12px;
    transition: background-color .2s ease;
    margin-top: 0.75em;
}

.main-hero-left-footer {
    text-align: center;
    padding: 1rem 0 0 0;
}

.main-hero-left-footer img {
    height: 50px;
}

.main-hero-right {
    display: flex;
    justify-content: center;
}

.whatsapp-right img {
    width: 85%;
    opacity: 0.9;
}

.whatsapp-container {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem;
    margin-left: 9rem;
    background: #fff;
    align-items: center;
}

.whatsapp-left {
    grid-column: 2/3;
}

.whatsapp-right {
    grid-column: 1/2;
    grid-row: 1/1;
}


.whatsapp-left h2 {
    font-size: 2.2rem;
    color: #57585a;
}

.diferencial-lista-h2 h2 {
    font-size: 2.2rem;
    color: var(--azul);
}

.diferencial-lista-h2 {
    justify-self: start;
    margin: 0rem 0 2rem 2rem;
    grid-column: 1/-1;
}

.diferencial-lista-h2 p {
    font-size: 1.25rem;
    color: #57585a;
    font-weight: 300;
}

.whatsapp-left p {
    font-size: 1.25rem;
    color: #57585a;
    margin: 1.25rem 0;
    font-weight: 300;
}

.whatsapp-left a {
    background-color: var(--verde-escuro);
    color: var(--bege);
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
}

.whatsapp-left a span img {
    height: 20px;
}

.whatsapp-right {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.whatsapp-right-footer {
    display: grid;
    grid-template-columns: 50px 350px;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    font-weight: 300;
    font-size: 0.9rem;
}

#diferencial-section {
    position: relative;
    /* background: url("../img/arvores-parceiros.webp") no-repeat; */
    /* background: url("../img/green-background-2.jpg") no-repeat; */
    /* background: url("../img/manage-money.svg") no-repeat; */
    /* background-position: 0 100px; */
    background-color: #f0f1f2;
    padding: 3rem;
}

.diferencial-lista::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 100px;
    filter: grayscale(1);
    opacity: 0.2;
    width: 300px;
    height: 300px;
    background: url('../img/contract.png') no-repeat;
    background-size: 300px;
}

.diferencial-lista::after {
    content: '';
    position: absolute;
    top: 80px;
    right: 100px;
    filter: grayscale(1);
    opacity: 0.2;
    width: 300px;
    height: 300px;
    background: url('../img/contract.png') no-repeat;
    background-size: 300px;
}

.diferencial-lista {
    display: grid;
    grid-template-columns: 295px 295px 295px;
    justify-content: center;

    gap: 2rem 5rem;

}

.diferencial-lista-item {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
}

.diferencial-lista-item h3 {
    font-size: 1.5rem;
    color: var(--azul);
}

.diferencial-lista-item p {
    font-weight: 300;
}

.diferencial-lista-item i {
    margin-bottom: 1.5rem;
    color: #57585a;
    opacity: 0.7;
}

#features {
    position: relative;
    background-color: var(--verde-claro);
    display: grid;
    grid-template-columns: 295px 295px 295px;
    justify-content: center;
    align-items: start;
    gap: 2rem 5rem;
    color: #fff;
    padding: 3rem;
}

#features div:nth-child(1) {
    grid-column: 1/-1;
}

#features div:nth-child(1) div h2 {
    margin: 0 0 0 2rem;
    font-size: 2.2rem;
    color: var(--bege);
    justify-self: start;
}

#features div:nth-child(1) div p {
    font-size: 1.25rem;
    margin: 0 0 2rem 2rem;
    color: var(--bege);
    font-weight: 300;
}

.features-container-item h5 {
    font-weight: 300;
    color: var(--bege);
}

.features-container-item i {
    margin-bottom: 1.5rem;
    color: var(--verde-escuro);
}

/* #features div img {
    width: 55px;
} */

/* #features div div {
    background-color: #fff;
    border-radius: 50% 50% 0px 50%;
    border: 1px solid #fff;
    padding: 1.5rem;
} */

.features-container-item {
    display: grid;
    grid-template-rows: 100px 1fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    text-align: center;
}

.features-container-item h3 {
    font-size: 1.75rem;
}

footer {
    background: var(--verde-claro);
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-items: center;
    justify-content: center;
}

footer h3 {
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: var(--azul);
}

footer span, footer ul, footer a{
    color: var(--bege);
    font-size: 1.1rem;
}

.informacao ul,
.navegacao ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
}

.endereco {
    display: grid;
    gap: 0;
    grid-template-rows: 100px 18px 18px 18px;
    align-items: center;
    justify-self: start;
}

/* .endereco img {
    margin-bottom: 1rem;
} */

.endereco span {
    font-size: 0.8rem;
    margin: 0;
}

.contato ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.contact-form {
    position: relative;
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem;
    margin-left: 9rem;
    align-items: start;
}

#contact div form input,
#contact div form textarea {
    color: var(--verde-escuro);
}

#contact div p {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    grid-column: 1/-1;
    color: #57585a;
    font-weight: 300;
}

#contact div form div label {
    color: #57585a;
}

.btn {
    margin-left: calc(1.9rem);
    padding: 0.5rem 4rem;
    background-color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
    font-weight: bold;
    color: var(--bege);
}

.btn:hover {
    background-color: var(--verde-claro);
    border: 1px solid var(--verde-claro);
}

.row.g-3 {
    display: grid;
    grid-template-columns: 450px;
    justify-items: center;
}

input:focus+label,
input {
    color: var(--verde-escuro);
    font-weight: 100;
}

#contact div h2 {
    font-size: 2.2rem;
    color: var(--verde-escuro);
}

#contact div form {
    grid-column: 2/3;
}

.contact-form img {
    position: absolute;
    max-width: 550px;
    opacity: 0.9;
    left: 20rem;
    top: 4rem;
}